<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Html page creation by using django</title>
</head>
<style>
    img {
        float: right;
      }
</style>
<body>
    <img src="https://th.bing.com/th/id/OIP.VUQJx5VO_VT_O0JQnuDbxwHaJ4?pid=ImgDet&rs=1" alt="" width="500" height="600">
    <h3>Importance of Mother</h3>
    <p> Mother’s love is unconditional One look in a mother’s eye for her child and we come to realise the meaning of unconditional love</p><br>
    <p>For a child, the process of learning starts right from the birth or even before it. We all know that during pregnancy mothers are told to read good books, listen to soothing music and so on.</p></br>
    <p> They do this because though the child is still to face the world, but the baby already develops a connection with the world through the mother. </p><br>
    <p>Later, the baby is acquainted with the world, 1st by their mothers and later by others. Whatever the language, caste or custom, </p><br>
    <p>every baby learns to call his/her mother first. “Mother, ma, amma” is the first word that comes out from the baby’s mouth.</p><br>
    <p> A mother teaches her child everything that she knows right from talking, walking to living a fulfilling life.</p><br>
    <p> She is also the one who disciplines and educates a child for a better living. Right from getting up to sleeping,</p><br>
    <p> a mother teaches all she knows. Mother also goes through the process of learning again to help her child gain better knowledge.</p><br>
</body>
</html>